* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.top-bar {
    height: 30px;
    background-color: #b53229;
}

.wh-web {
    width: 1140px;
    height: 100%;
}

.contact i {
    padding: 0 3px;
}

.header {
    height: 90px;
    background-color: #f1b842;
}

.logo {
    width: 70px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.input-search {
    width: 80%;
    padding-left: 10%;
}

.button-search {
    background-color: #b53229;
    border: 1px solid #b53229;
}

.address {
    padding-right: 20px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.91);
}

.noti i {
    font-size: 20px;
}

.noti div {
    width: 15px;
    height: 15px;
    background-color: #b53229;
    font-size: px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}

.nav-bar {
    height: 50px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}


.item {
    color: #b53229;
    font-size: 15px;
}

.button-dropdown {
    background-color: transparent;
    color: #b53229;
    border: none;
    font-size: 15px;
}

.title-animal {
    height: 90px;
}

.title-animal .mid {
    width: 175px;
    color: #f1b842;
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
}

.title-animal .line {
    height: 50%;
    border-bottom: 1px solid rgb(170, 165, 165);
}

.animal {
    height:auto;
}

.animal .item {
    width: calc(100%/3);
    height: 450px;
}

.item-inner {
    width: 335px;
    height: 98%;
}


.item-inner .image {
    height: 333px;
    width: 100%;
    background-color: palegreen;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.image img:hover{
    transform: scale(1.3);
}

.name {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    padding-top: 10px;
}

.detail {
    padding-top: 5%;
}
.detail .contact {
    font-size: 14px;
    font-weight: 400;
    color: #4f4d4d;
    padding-bottom: 10px;
}

.detail .read-more button {
    background-color: #b53229;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: background-color 1s;
}

.detail .read-more button:hover {
    background-color: #a1271f;
}



