@mixin item-sidebar {
    .item {
        display: flex;
        border-radius: 8px;
        align-items: center;
        padding: 0 10px;
        height: 50px;
        width: 100%;
        transition: background-color 1s;

        .icon {
            height: 24px;
            width: 24px;

            img {
                width: 100%;
                height: 100%;
                transition: transform 1s;
            }
        }

        .title {
            padding-left: 15px;
        }
    }

    .item:hover {
        background-color: rgb(234, 234, 231);

        .icon img {
            transform: scale(1.2);
        }
    }
}


@mixin w-h($w, $h) {
    width: $w;
    height: $h;
}